<h1>Hello Hello</h1>
<form action="/answer" method="get">
  <label for="question"><h3>Speak to your coach</h3></label>
  <input type="text" id="question" name="question" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
